/* breakpoints 1200px ancho/900px ancho/400px ancho*/

* {
  box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #f7af50, #ffffff);
    margin: 5%;
    padding: 0 15%;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }



li {
    list-style-type: none;
}

.avatar {
    max-height: 15rem;
    object-fit: cover;
  }

.flechas {
  margin-top: 30px;
  font-size: 24px;
  transition: opacity 0.3s; /* suaviza el parpadeo */
}

.carrusel{
  display: flex ;
  flex-wrap:nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
  margin-top: 30px;
  }

.carrusel::-webkit-scrollbar {
  display: none; 
  }

.carrusel .item {
  flex: 0 0 auto;
  width: 200px;
  height: 150px;
  background: #ffefef;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  scroll-snap-align: start;
  }



.dato{
  flex: 1 0 auto;
  margin: 0 50px;
  width: 500px;
  height: 250px;
  position: relative;
  background-image: url("touch1.png");
  background-size: cover;      /* hace que la imagen llene todo el div */
  background-position: center; /* centra la imagen */
  border-radius: 8px;
  color: white;                /* texto blanco para que contraste */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   /* baja el texto hacia abajo */
  padding: 20px;
}
  

.dato p {

  bottom: 30px;
  color: #FFFF;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  }




.returnLink, button {
  padding: 10px 20px;
  background-color: #f8efc0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.returnLink:hover, button:hover {
  background-color: #ddebf6;
}

.hidden {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.showed {
    display: block;
    max-height: 500px;
  transition: max-height 0.5s ease;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.5rem 0; 
}

.column {
  flex: 1;
  text-align: center;
}

.highlight {
  font-weight: bold; 
  background-color: #f5f5f5 
}

#cardTitleDiv {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5rem;
}

#cardTitleDiv h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;

}

footer {
  background-color: transparent;
  color: #000;                 /* color del texto */
  text-align: center;           /* centrar texto */
  padding: 20px;                /* espacio interno */
  position: relative;           /* para posicionamiento opcional */
  bottom: 0;                    /* si usás fixed */
  width: 100%;                  /* ocupa todo el ancho */
  margin-top: 50px;
}

