* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'PokemonClassic', sans-serif;
  background: url('../img/pokemonLogo.png') no-repeat center center fixed;
  background-size: contain;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; 
}

@font-face {
  font-family: 'PokemonClassic';
  src: url('./fonts/Pokemon\ Classic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  width: auto;
  height: 40px;
  background-image: url('./img/squirtle.png');
}

h1 {
  margin-bottom: 3rem; 
  background-color: rgb(255, 255, 255);
  border: #000000 0.7rem double;
  border-radius: 1rem;
  font-size: 2rem;
  color: #000000; 
  text-shadow: 1px 1px 0 #ffcb05; 
  letter-spacing: 2px;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #000000; 
  text-shadow: 1px 1px 0 #ffcb05; 
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #000000; 
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffcb05; 

}

.bienvenida, .botonBienvenida {
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: #000000 0.7rem double;
  border-radius: 1rem;
  padding: 1rem;
  text-align: left; 
  display: none;
  order: 1;
}

.botonBienvenida {
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: #000000 0.7rem double;
  border-radius: 1rem;
  padding: 1rem;
  text-align: left; 
  display: none;
  font-family: 'PokemonClassic';
  src: url('./fonts/Pokemon\ Classic.ttf') format('truetype');
  font-size: 1.2rem;
  color: #000000; 
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffcb05; 
  display: block;
}

.botonBienvenida:hover {
  background-color: #ffdd1e;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: skewX(-5deg);

}

#pokedex1, #pokedex1>img {
  max-width: 20rem;
  width: 85%;
  height: auto;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  order: 2;
  transition: transform 0.2s ease;
}

#pokedex2, #pokedex2>img {
  max-width: 40rem;
  width: 100%;
  height: auto;
  cursor: pointer;
  display: none;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.divPokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;        
  flex-wrap: wrap;      
}

.textoPokedex {
  display: flex;
  flex-direction: column;    
  align-items: flex-start;   
  gap: 1rem;                
}

.imagenesPokedex {
  display: flex;
  flex-direction: column;    
  align-items: center;      
  gap: 1rem;                 
}

nav {
  width: 100%;
  background-color: #ffdd1e; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 60px;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  z-index: 1000;
}

.badges {
  width: 100%;
  height: 40px;
  margin: 0;
  position: relative;
  background-image: url("../img/badges.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 0 center;
  animation: fluirImagen 10s linear infinite;
} 

@keyframes fluirImagen {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -100% center;
  }
}

.contenedor {
  margin-top: 3rem; 
  width: 100%;
  display: flex;
  flex-direction: column;    
  align-items: center;    
  text-align: center;
  padding: 1rem;
}

.menuHamburguesa {
  display: none;
  background: transparent;
  border-width: 0;
}

ul {
   list-style: none;
}

.linksNavegacion {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.linksNavegacion > li {
  position: relative; /* Para posicionar el submenú*/

}

.linksNavegacion li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  padding: 1rem 2rem;
}

.linksNavegacion li a:hover {
  color: #2a75bb; 
  font-weight: bold;
}


/* ----- Estilos para el submenú ----- */
.linksNavegacion li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.linksNavegacion li:hover > ul {
  display: block;
  background-color: #ffdd1e;
  cursor: pointer;
  padding: 1.5rem 0;
  border-radius: 6px;
}

audio {
  margin: 1rem 0;
  width: 90%;
  max-width: 400px;
  border: 0.5rem solid #ff0000;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0,0,0,0.5);
  padding: 0.3rem;
}  


/* ----- BREAKPOINTS Y RESPONSIVENESS ----- */
@media (min-width: 800px) {
  #pokedex2.zoom img:hover {
    transform: scale(3);
    transition: transform 0.3s ease;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }
  
  .divPokedex {
    gap: 0;        
  }

  h1, .badges, .botonBienvenida {
      display: none;
  }

  h2 {
      font-size: 0.8rem;
      margin: 0rem 0 0.5rem 0;
  }

  p {
      font-size: 0.6rem;
      margin-bottom: 1rem;
  }

  .bienvenida, audio {
    display: block;
  }

  .pokedex {
    flex-direction: column;
    gap: 1rem;
  }

  .bienvenida {
    order: -1; /*Visualizo primero la bienvenida en mobile y despues el pokedex*/
    text-align: center;
    margin-top: 15%;
    margin-left: 0;
    margin-bottom: 5%;
    padding: 0.5rem;
  }

  .menuHamburguesa {
      display: block;
  }

  #menu > img {
      width: 30px;
      height: 30px;
      background-color: #ffdd1e;
  }

  nav {
      height: auto;
      flex-wrap: wrap;
      padding: 0.5rem 1rem;
  }

  .logo {
      flex: 1;
      max-width: 40px;
      max-height: 40px;
  }

  .menu-toggle {
      display: block;
  }


  .linksNavegacion {
      display: none;
      flex-direction: column;
      position: absolute; 
      top: 60px;        
      right: 1rem;      
      width: auto;     
      background-color: #ffdd1e;
  }

  .linksNavegacion li {
      margin: 0;
      text-align: center;
      display: block;
  }

  .linksNavegacion li a {
      padding: 1rem;
      border-top: 1px solid rgba(255,255,255,0.3);
  }

  /* Submenú dentro de mobile */
  .linksNavegacion li ul {
      position: static;
      background: #f7cf0d;
  }

  .linksNavegacion li:hover > ul {
      display: block;
  }

  /* Clase para mostrar menú cuando se activa */
  .linksNavegacion.active {
    display: flex;
    flex-direction: column;
    background-color: #ffdd1e;
    cursor: pointer;
    padding: 1.5rem 0;
    border-radius: 6px;
  }
}


@media (min-width: 401px) and (max-width: 800px) {
  nav {
      padding: 0.5rem 2rem;
  }

  .linksNavegacion {
      display: flex;
      gap: 1.5rem;
  }

  .menuHamburguesa{
      display: none;
  }

  .badges {
    display: none;
  }
}
