/* breakpoints 1200px ancho/900px ancho/400px ancho*/

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(254 254 241);
    margin: 5%;
    padding: 0 15%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

audio {
    animation: backwards;
}

li {
    list-style-type: none;
}

.avatar {
    max-height: 15rem;
}

.card {
    border-radius: 15px 50px;
    border: 1px solid black;
    background-color: white;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 3rem;
}

.returnLink, button {
  padding: 10px 20px;
  background-color: #7e7af8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.returnLink:hover, button:hover {
  background-color: #5633f3;
}

.card p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.hidden {
    display: none;
}

.showed {
    display: block
}*/

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 1;
  text-align: center;
}

tr {
  font-weight: bold;  
}

#cardTitleDiv {
    border-bottom: 1px dashed;
}