/* breakpoints 1200px ancho/900px ancho/400px ancho

-Se deben aplicar colores, márgenes, paddings y tamaños de fuente de manera consistente,
cuidando la armonía visual y la legibilidad.

*/

body {
    background-color: aliceblue;
    display: inline-block;
    margin: 5%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

audio {
    animation: backwards;
}

li {
    list-style-type: none;
}

.avatar {
    max-height: 250px;
}

.card {
    border-radius: 15px 50px;
    border: 1px solid black;
    background-color: white;
    max-width: fit-content;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 50px;
}

.returnLink {
  padding: 10px 20px;
  background-color: #c17af8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.returnLink:hover {
  background-color: #9812ff;
}

.card p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}